<c-header class="header_color">
    <c-container fluid>
        <c-header-brand [routerLink]>
            <img src="assets/images/logo/PetsToGoOscuro.png" width="80px" height="80px">
        </c-header-brand>
      <c-header-brand class="tittle_white">PetsToGo</c-header-brand>
      <c-header-nav class="ms-auto">
        <c-nav-item class="button_attributs">
            <a class="tittle_white" cNavLink routerLink="/register">Registrarse</a>
        </c-nav-item>
        <c-nav-item class="button_attributs">
          <a class="tittle_white" cNavLink routerLink="/login">Iniciar Sesión</a>
        </c-nav-item>
        <c-dropdown alignment="end">
          <a cHeaderToggler cDropdownToggle cNavLink [caret]="false"></a>
          <ul cDropdownMenu>
            <li><a [routerLink] cDropdownItem>Action</a></li>
            <li><a [routerLink] cDropdownItem>Another action</a></li>
            <li>
              <hr cDropdownDivider>
            </li>
            <li><a [routerLink] cDropdownItem>Something else</a></li>
          </ul>
        </c-dropdown>
      </c-header-nav>
    </c-container>
  </c-header>


  <c-row class="empty_space">
    <c-col [sm]="4">
        <div class="clearfix">
            <img cImg align="start" rounded src="assets/images/logo/PetsToGoClaro.png" width="600px" height="600px"/>
            </div>
    </c-col>
    <c-col [sm]="6">
        <div class="cuadrito">
            <h1 style="color: #000505;">PetsToGo</h1>
            <c-row>
                <c-col [sm]="1">
                    <img src="assets/images/icons/Dog Walking.svg">
                </c-col>
                <c-col>
                    <p>Somos una organización sin fines de lucro con la misión de encontrarle un hogar a cada perro y gato rescatado en Costa Rica.</p>
                </c-col>
            </c-row>
            <c-row>
                <c-col [sm]="1">
                    <img src="assets/images/icons/Cat Footprint.svg">
                </c-col>
                <c-col>
                    <p>Somos una organización sin fines de lucro con la misión de encontrarle un hogar a cada perro y gato rescatado en Costa Rica.</p>
                </c-col>
            </c-row>
            </div>
    </c-col>
</c-row>

<div class = "center_button">
  <a cNavLink routerLink="/login">
    <button cButton color="primary" variant="outline">Iniciar sesión</button>
  </a>
</div>



