.cuadrito {
    margin: 2rem 5rem;
    background-color: #BFCDE0;
    padding: 1rem 2rem;
    border-radius: 15px;
    word-wrap: break-word;
}

.center_button{
    margin-left: 7cm;
}

.tittle_white {
    color: #FEFCFD;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1cm;
}