.purpleBox {
    background-color: #5D5D81;
    padding: 2rem;
    border-radius: 10px;
}

#center_text {
    margin-left: 4cm;
}

.tittle_white {
    color: #FEFCFD;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1cm;
}

.text_white {
    color: #FEFCFD;
}

#button_background {
    background-color: #FEFCFD;
}