<c-header class="header_color">
    <c-container fluid>
        <div class="side-menu" [@openCloseSideMenu]="sideMenuOpen ? 'open' : 'closed'" (mouseleave)="closeSideMenu()"> <!--Esto es para el menu-->>
            <h1 class=".tittle_white" style="color: #FEFCFD;">Menú</h1>
            <hr/>
            <ul class="side-menu-nav">
              <li class="nav-item">
                <a cNavLink routerLink="/adoptar" class="side-menu-link">
                    <button cButton color="light" variant="outline">Adoptar <img src="assets/images/icons/btnAdoptar.svg" width="50px" height="50px"></button>
                </a>
              </li>
              <li class="nav-item">
                <a cNavLink routerLink="/veterinarios" class="side-menu-link">
                    <button cButton color="light" variant="outline">Veterinarias <img src="assets/images/icons/btnVeterinaria.svg" width="50px" height="50px"></button>
                </a>
              </li>
              <li class="nav-item">
                <a cNavLink routerLink="/tiendas" class="side-menu-link">
                    <button cButton color="light" variant="outline">Tiendas <img src="assets/images/icons/btnTienda.svg" width="50px" height="50px"></button>
                </a>
              </li>
              <li class="nav-item">
                <a cNavLink routerLink="/anuncios" class="side-menu-link">
                    <button cButton color="light" variant="outline">Anunciar <img src="assets/images/icons/btnAnunciar.svg" width="50px" height="50px"></button>
                </a>
              </li>
              <li class="nav-item">
                <a cNavLink routerLink="/mis_mascotas" class="side-menu-link">
                    <button cButton color="light" variant="outline">Mis mascotas <img src="assets/images/icons/btnMisMascotas.svg" width="50px" height="50px"></button>
                </a>
              </li>  
              <li class="nav-item">
                <a cNavLink routerLink="/chats" class="side-menu-link">
                    <button cButton color="light" variant="outline">Grupos <img src="assets/images/icons/btnGrupos.svg" width="50px" height="50px"></button>
                </a>
              </li>
              <li class="nav-item">
                <a cNavLink routerLink="/first" class="side-menu-link">
                    <button cButton color="light" variant="outline">Salir <img src="assets/images/icons/btnSalir.svg" width="50px" height="50px"></button>
                </a>
              </li>        
            </ul>
          </div>
          
          
          <div class="toolbar" role="banner">
            <a (click)="openSideMenu()">
              <svg class="btn-sandwitch" width="30" height="23" viewBox="0 0 59 45" xmlns="http://www.w3.org/2000/svg">
                <rect width="59" height="11" />
                <rect y="34" width="59" height="11" />
                <rect y="16" width="59" height="13" />
              </svg>
            </a>
            <div></div>
          </div>
          <a cNavLink routerLink="/home">
            <c-header-brand [routerLink]>
              <img src="assets/images/logo/PetsToGoOscuro.png" width="80px" height="80px">
          </c-header-brand>
            <c-header-brand class="tittle_white">PetsToGo</c-header-brand>
          </a>
      <c-header-nav class="ms-auto">
        <c-nav-item class="button_attributs" cNavLink routerLink="/profile">
            <button cButton color="light" variant="outline" >Mi perfil <img src="assets/images/icons/Usuario.svg" width="50px" height="50px"></button>
        </c-nav-item>
      </c-header-nav>
    </c-container>
</c-header>

<div>
    <c-row class="empty_space center_attributs">
        <c-col sm="2">
            <img src="assets/images/icons/iconoTiendas.svg" width="200px" height="200px">
        </c-col>
        <c-col sm="8">
            <h1 style="color: #5D5D81;">Nombre de la tienda</h1>
            <c-row id="down">
                <c-col>
                    <p>Horario: Lunes a Domingo de 7am a 4pm</p>
                </c-col>
                <c-col>
                    <p>Ubicación: Paseo Metrópoli, Cartago</p>
                </c-col>
                <c-col>
                    <p>Teléfono: (506)2552-2552</p>
                </c-col>
            </c-row>
        </c-col>
    </c-row>
</div>


<c-carousel>
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img
          [src]="slide.src"
          alt="{{ slide.title }}"
          class="d-block w-100"
          loading="lazy" />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Anterior" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Siguiente" direction="next"></c-carousel-control>
  </c-carousel>